body {
  background-color: #a6a3a1;
  font-family: Futura, Trebuchet MS, Arial, Helvetica, sans-serif;
}

hr {
  border-color: #40352C;
  border-style: none;
  border-top-style: dotted;
  border-width: 5px;
  height: 1px;
  width: 20%;
}

h1 {
  color: #0d0000;
}

h3 {
  color: #736963;
}

a{
    text-decoration: none;
    font-weight: bold;
    color: #2c251e;
}

a:visited{
    text-decoration: none;
    color: #2c251e;
}

a:hover{
    text-decoration: underline;
}
